@font-face {
  font-family: 'TT Commons Pro';
  src: url('../fonts/TT-Commons-Regular.otf') format('otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TT Commons Pro';
  src: url('../fonts/TT-Commons-Bold.otf') format('otf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'TT Commons Pro';
  src: url('../fonts/TT-Commons-Medium.otf') format('otf');
  font-weight: medium;
  font-style: normal;
}

@font-face {
  font-family: 'TT Commons Pro';
  src: url("../fonts/TT-Commons-Light.otf") format('otf');
  font-weight: light;
  font-style: normal;
}


* {
  box-sizing: border-box;
}

body {
    font-family: 'TT Commons Pro', sans-serif;
    background-color: black;
    background-size: cover;
    background-position: center top;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.6) 0 100%), url("../assets/engineer1.png");
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow-x: hidden;
    overflow-y: auto;
}

html {
    width: 100%;
    height: 100%;
    margin: 0;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color:inherit;
}

ul {
    font-weight: light;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    align-items: center;
    padding: 0;
    margin:0;
    gap:3rem;
    margin-right:3rem;
    font-size: 18px;
}

main {
    flex:1;
}

header {
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: black;
    color:white;
    width:100%;
    height:9vh;
}

footer {
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: #676767;
    color:white;
    justify-content: space-between;
    height:6.5rem;
}

p {
    text-align: center;
    font-size: 30px;
    color:rgb(0, 0, 0);
}

.arrow-back{
    margin-left: 1rem;
}

.mensagem {
    text-shadow: 2px 2px 4px black;
    text-align: center;
    color:white;
    font-size: 40px;
    margin-bottom: 50px;
    font-weight: 500;
}   

.panel{
    margin: auto 80px auto 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    gap:75px;
    flex-wrap: wrap;
    background-color: white;
    min-width: 5rem;
    min-height:45rem;
    border-radius: 32px;
    padding: 10rem 3rem 3rem 3rem;
    margin-bottom: 50px;
}

.container-button{
    display: flex;
    justify-content: space-between;
    width:100%;
    height:100%;
    margin-bottom: 0;
    align-self: flex-end;
    margin-top: auto;
}

.all-icons {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.icon-container{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 25px;
}

.icon {
    min-width:12rem;
    min-height:12rem;
    max-width: 12rem;
    max-height: 12rem;
}

.button-suporte {
    border-radius: 70px;
    background-color: #FF9900;
    min-width: 15vw;
    min-height: 6vh;
    font-size: 2rem;
    border:0;
    font-weight: medium;
}

.button-perder {
    border-radius:70px;
    background-color: #282828;
    font-size:2rem;
    color:white;
    min-width: 15vw;
    min-height: 6vh;
    font-weight: medium;
    border:0;
}

.icone {
    margin-left: 5rem;
    min-width: 10vw;
    max-width: 10vw;
}

.footer-text{
    font-weight: light;
    font-family: 'TT Commons Pro';
    color:white;
    font-size:18px;
    margin-left:3rem;
}