@font-face {
  font-family: 'TT Commons Pro';
  src: url('../fonts/TT-Commons-Regular.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TT Commons Pro';
  src: url('../fonts/TT-Commons-Bold.otf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'TT Commons Pro';
  src: url('../fonts/TT-Commons-Medium.otf');
  font-weight: medium;
  font-style: normal;
}

@font-face {
  font-family: 'TT Commons Pro';
  src: url("../fonts/TT-Commons-Light.otf");
  font-weight: light;
  font-style: normal;
}

:root {
      --text-white: #ffffff;      /* texto */
      --header-bg: #000000;    /* barra superior preta */
      --muted: rgba(0, 0, 0, 0.5);        /* bg translucido */
    }


* {
  box-sizing: border-box;
}

html, body {
    padding: 0;
    width: 100%;
    min-height: 100%;
    margin: 0;
    
}

body {
    font-family: 'TT Commons Pro', sans-serif;
    background-color: black;
    background-size: cover;
    background-position: center top;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.6) 0 100%), url("../assets/engineer1.png");
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow-x: hidden;
    overflow-y: auto;
}



a {
    text-decoration: none;
    color:inherit;
}

ul {
    font-weight: light;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    align-items: center;
    padding: 0;
    margin:0;
    gap:3rem;
    font-size: 18px;
}

li {
    text-align: center;
}

main {
    flex:1;
    z-index: 0;
}

header {
    font-family: 'TT Commons Pro';
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: var(--header-bg);
    color: var(--text-white);
    flex-wrap: wrap;
}

footer {
    font-family: 'TT Commons Pro';
    display: flex;
    align-items: center;
    padding: 1rem;
    background-color: #000000;
    color:white;
    justify-content: space-between;
    width:100%; 
}

p {
    text-align: center;
    font-size: 30px;
    color:rgb(0, 0, 0);
}

button {
    font-family: 'TT Commons Pro';
}

/* Logo dentro do cabeçalho */
.logo {
    margin-left:10rem;
}

.arrow-back{
    min-height: 5rem;
    max-width: 5rem;
    min-width: 1rem;
    margin-top: 1rem;
    margin-left: 1rem;
}

.links-footer:hover{
    color:black;
    -webkit-transition: color 300ms linear;
    -ms-transition: color 300ms linear;
    transition: color 300ms linear;
}

.mensagem {
    text-shadow: 2px 2px 4px black;
    text-align: center;
    color:white;
    font-size: 40px;
    margin-bottom: 50px;
    font-weight: 500;
}   

.panel{
    margin: auto 5rem auto 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    gap:5rem;
    flex-wrap: wrap;
    background-color: white;
    min-width: 20rem;
    min-height:45rem;
    border-radius: 32px;
    padding: 10rem 3rem 3rem 3rem;
    margin-bottom: 50px;
}

.container-button{
    display: flex;
    justify-content: space-between;
    width:100%;
    margin-bottom: 0;
    margin-top: auto;
}

.all-icons {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.icon-container{
    margin-left: auto;
    margin-right: auto;
    height:20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon {
    flex:1;
    min-width:6rem;
    min-height:6rem;
    max-width: 12rem;
    max-height: 12rem;
}

.btn {
    font-family: 'TT Commons Pro';
    padding: 12px 26px;
    border-radius: 24px;
    border: none;
    
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
    
    min-height: 4rem;
    width: 15rem;
    max-width: 15rem;
    font-size: 1.75rem;
    font-weight: medium;
}

.btn:hover {
    transform: translateY(-2px);
}

.btn-txt {
    z-index: 2;
    position: relative;
}

#btn-cancelar {
    background-color: #333;
    color: #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    overflow: hidden;
    cursor: not-allowed;
    position: relative;
    
}

#btn-cancelar:not([disabled]) {
    background-color: #000000;
    cursor: pointer;
}

.loading-bar-container {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
}

.loading-bar-fill {
    
    width: 0%;
    height: 100%;
    background-color: #000000; 
    transition: width 5s linear; 
}

#btn-cancelar:hover {
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.25);
}

#btn-suporte {
    background: #f5a623;
    color: #000;
    box-shadow: 0 6px 14px rgba(245, 166, 35, 0.18);
    
}

#btn-suporte:hover {
    box-shadow: 0 8px 18px rgba(245, 166, 35, 0.3);
}

.icone {
    margin-left: 5rem;
    min-width: 6rem;
    max-width: 6rem;
}

.footer-text{
    font-weight: light;
    font-family: 'TT Commons Pro';
    color:white;
    font-size:18px;
    margin-right: auto;
    margin-left:3rem;
    
}

footer a {
    transition: color 0.2s ease;
}

footer a:hover{
    color: #333;
}

.texto-direita {
    margin-right: 5rem;
}