@font-face {
  font-family: 'TT Commons Pro';
  src: url('../fonts/TT-Commons-Regular.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TT Commons Pro';
  src: url('../fonts/TT-Commons-Bold.otf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'TT Commons Pro';
  src: url('../fonts/TT-Commons-Medium.otf');
  font-weight: medium;
  font-style: normal;
}

@font-face {
  font-family: 'TT Commons Pro';
  src: url("../fonts/TT-Commons-Light.otf");
  font-weight: light;
  font-style: normal;
}
    
    :root {
      --text-white: #ffffff;      /* texto */
      --header-bg: #000000;    /* barra superior preta */
      --muted: rgba(0, 0, 0, 0.5);        /* bg translucido */
    }

    /* reset/estilos base */
    * { 
        box-sizing: border-box;
        margin: 0;
        padding: 0;
      }
    html,body { 
      height:100%;
      overflow: hidden;
      font-family: 'TT Commons Pro';
      font-weight: normal;
    }

    /* barra preta com logo à esquerda */
    header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 1rem 2rem;
            background-color: var(--header-bg);
            color: var(--text-white);
            flex-wrap: wrap;
        }

        /* Logo dentro do cabeçalho */
        .logo {
          margin-left:10rem;
        }



    main {
  position: relative;
  background-image: url('../assets/mulher-engenheira.jpg'); /* substitua pelo caminho real */
  background-size: cover;
  background-position: center;
  height: 100vh; /* ocupa a altura total da tela */
  color: var(--text-white);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 2rem;
  z-index: 0;
  overflow: hidden;
}

main .overlay {
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background-color: var(--muted); /* ajustável */
  z-index: 1;
}

main .content  {
  position: relative;
  z-index: 2;
} 

main h1 {
  font-family: 'TT Commons Pro';
  font-size: 80px;
  margin-bottom: 10rem;
}

.botao-voltar {
  font-family: 'TT Commons Pro';
  position: fixed;          /* Fixa o botão na tela */
  bottom: 20px;             /* Distância do fundo da janela */
  right: 20px;              /* Distância da borda direita */
  padding: 10px 20px;
  background-color: var(--text-white);
  color: var(--header-bg);
  border-radius: 32px;
  text-decoration: none;
  font-weight: bold;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease, transform 0.2s;
}

.botao-voltar:hover {
  background-color: #ddd; /* muda a cor quando passa o mouse */
  transform: translateY(-2px);
}

footer a {
    transition: color 0.2s ease;
}

footer a:hover{
    color: #333;
}

    /* responsividade simples para telas pequenas */
    @media (max-width: 768px) {
  main h1 {
    font-size: 40px;
  }
}
