
/* copiei o :root da tela1 e @font-face da tela3 */
@font-face {
  font-family: 'TT Commons Pro';
  src: url('../fonts/TT-Commons-Regular.otf') format('woff2'),
       url('../fonts/TT-Commons-Regular.otf') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TT Commons Pro';
  src: url('../fonts/TT-Commons-Bold.otf') format('woff2'),
       url('../fonts/TT-Commons-Bold.otf') format('woff');
  font-weight: bold;
  font-style: normal;
}
:root {
    --header-h: 80px;
    --text-white: #ffffff;      /* texto */
    --header-bg: #000000;    /* barra superior preta */
    --muted: rgba(0, 0, 0, 0.5);        /* bg translucido */
}
*{
    margin: 0px;
    padding: 0px;
}
body{
    background-image: linear-gradient( to top ,  #0000008c , #0000008c) ,  url(../assets/backgroundimagepg2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: var(--header-bg);
}
.logo {
    margin-left: 10rem;
}
#back-bt{
    display: inline-flex;
    
}
#back-btn img {
    width: 90px; 
    height: 90px;
    filter: drop-shadow(0 1px 0 rgba(0, 0, 0, 0.671));

}
main{
    flex-direction: column;
    display: flex;
    
    min-height: 100vh;
}
#fundo-branco{
    display: flex;
    margin: 8% auto;
    flex-direction: column;
    width: 50%;
    height: 50vh;
    border-radius: 32px;
    padding: 20px;
    background-color: #f2f2f2;
    align-items: flex-start;
    justify-content: flex-start;
    gap:0.5rem;
}

.titulo-feedback{
    font:  3.5rem 'TT Commons Pro', sans-serif;
    color: white;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 0px;
}

.texto-selecione{
    font:  2rem 'TT Commons Pro', sans-serif;
    margin: 10px;
}

h2{
    font:  25px 'TT Commons Pro', sans-serif;
    margin: 20px;
}

select{
    padding: 1rem;
    width: 80%;
    font: normal 1.5rem 'TT Commons Pro', sans-serif;
    text-indent: 2px;
    margin: 0px 20px;
    border: solid 2px #FF9900;
    box-shadow: inset 1px 1px 5px #0000002a;
    cursor: pointer;
    margin-bottom:1rem;
    text-shadow: 1px 1px 2px #0000003a;
}
.botao-enviar{
    font: bold 100% 'TT Commons Pro', sans-serif;
    color: white;
    padding: 10px 15px;
    border-radius: 50px;
    border: none;
    min-width:10rem;
    min-height: 3rem;
    box-shadow: 1px 1px 4px #00000077;
    background-color: #282828;
    cursor: pointer;
}
.botao-enviar:hover{
    background-color: #e68a00;
}