@font-face {
  font-family: 'TT Commons Pro';
  src: url('path/to/fonts/TTCommonsPro-Regular.woff2') format('woff2'),
       url('path/to/fonts/TTCommonsPro-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TT Commons Pro';
  src: url('path/to/fonts/TTCommonsPro-Bold.woff2') format('woff2'),
       url('path/to/fonts/TTCommonsPro-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'TT Commons Pro';
  src: url('path/to/fonts/TTCommonsPro-Medium.woff2') format('woff2'),
       url('path/to/fonts/TTCommonsPro-Medium.woff') format('woff');
  font-weight: medium;
  font-style: normal;
}

body {
    font-family: 'TT Commons Pro', sans-serif;
    background-color: black;
    background-size: cover;
    background-position: center top;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.6) 0 100%), url("/assets/engineer1.png");
    display:flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

p {
    color:rgb(0, 0, 0);
}

.arrow-back{
    content:url("/assets/arrow.svg");
    align-self:flex-start;
}

.mensagem {
    color:white;
    font-size:32px;
}   

.panel{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:20px;
    background-color: white;
    border-radius: 32px;
    padding: 100px 51px 100px 50px;
}

.icon-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon {
    content:url("/assets/cat.webp");
    width:400px;
    height:400px;
}