
/* copiei o :root da tela1 e @font-face da tela3 */
@font-face {
  font-family: 'TT Commons Pro';
  src: url('../fonts/TT-Commons-Regular.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TT Commons Pro';
  src: url('../fonts/TT-Commons-Bold.otf');
  font-weight: bold;
  font-style: normal;
}
:root {
    --header-h: 80px;
    --text-white: #ffffff;      /* texto */
    --header-bg: #000000;    /* barra superior preta */
    --muted: rgba(0, 0, 0, 0.5);        /* bg translucido */
}
*{
    margin: 0px;
    padding: 0px;
}
body{
    background-image: linear-gradient( to top ,  #0000008c , #0000008c) ,  url(../assets/backgroundimagepg2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: var(--header-bg);
}
.logo {
    margin-left: 10rem;
}
#back-bt{
    display: inline-flex;
    
}
#back-btn img {
    width: 90px; 
    height: 90px;
    filter: drop-shadow(0 1px 0 rgba(0, 0, 0, 0.671));

}
main{
    flex-direction: column;
    display: flex;
    
    min-height: 100vh;
}
#fundo-branco{
    display: flex;
    margin: 8% auto;
    flex-direction: column;
    width: 40%;
    height: 30vh;
    padding: 20px;
    background-color: #f2f2f2;
    justify-content: space-between;
}
h1{
    text-align: center;
    font: bold 30px 'TT Commons Pro', sans-serif;
    color: #f2f2f2;
    text-shadow: 2px 2px 5px #0000008f;
   
}
h2{
    font: bold 25px 'TT Commons Pro', sans-serif;
    margin: 20px;
    text-shadow: 1px 1px 2px #0000004b;
}
select{
    padding: 5px;
    width: 80%;
    font: normal 18px 'TT Commons Pro', sans-serif;
    text-indent: 2px;
    margin: 0px 20px;
    border: solid 2px #FF9900;
    box-shadow: inset 1px 1px 5px #0000002a;
    cursor: pointer;
    text-shadow: 1px 1px 2px #0000003a;
}
.botao-enviar{
    font: bold 100% 'TT Commons Pro', sans-serif;
    padding: 10px 15px;
    border-radius: 50px;
    border: none;
    box-shadow: 1px 1px 4px #00000077;
    background-color: #FF9900;
    display: flex;
    float: right;
    transition: all 0.4s ease;
    cursor: pointer;
}
.botao-enviar:hover{
    background-color: #e68a00;
}
@media screen and (max-width: 850px ){
    .logo{
        margin-left: 0px;
    }
    #back-btn img {
        width: 70px; 
        height: 70px;
        filter: drop-shadow(0 1px 0 rgba(0, 0, 0, 0.671));
    }
    h1{
        margin: 20px;
        font-size: 18px;
    }
    h2{
        font-size: 18px;
    }
    select{
        font-size: 16px;
    }
    #fundo-branco{
        width: 80%;
        margin: 10vh auto;
    }

}