
/* copiei o :root da tela1 e @font-face da tela3 */
@font-face {
  font-family: 'TT Commons Pro';
  src: url('../fonts/TT-Commons-Regular.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TT Commons Pro';
  src: url('../fonts/TT-Commons-Bold.otf');
  font-weight: bold;
  font-style: normal;
}
:root {
    --header-h: 80px;
    --text-white: #ffffff;      /* texto */
    --header-bg: #000000;    /* barra superior preta */
    --muted: rgba(0, 0, 0, 0.5);        /* bg translucido */
}
*{
    margin: 0px;
    padding: 0px;
}
body{
    background-image: linear-gradient( to top ,  #0000008c , #0000008c) ,  url(../assets/backgroundimagepg2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: var(--header-bg);
}

.logo {
    margin-left: 10rem;
}

main{
    flex-direction: column;
    display: flex;
    justify-content: flex-start;
    min-height: 100vh;
}

#fundo-branco{
    display: flex;
    margin: 3rem auto;
    flex-direction: column;
    width: 60%;
    height:42rem;
    border-radius: 32px;
    padding: 1rem;
    background-color: #f2f2f2;
    align-items: flex-start;
    justify-content: flex-start;
    gap:0.5rem;
}

.arrow-back{
    min-height: 5rem;
    max-width: 5rem;
    min-width: 1rem;
    margin-top: 1rem;
    margin-left: 1rem;
}

.titulo-feedback{
    font:  3.5rem 'TT Commons Pro', sans-serif;
    color: white;
    text-align: center;
    margin-bottom: 0px;
}

.texto-selecione{
    font:  2.7rem 'TT Commons Pro', sans-serif;
    margin: 10px;
}

select{
    -webkit-appearance: none;
    -moz-appearance: none;
     background: transparent;
    background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='40' viewBox='0 0 24 24' width='40' xmlns='http://www.w3.org/2000/svg'><path d='M16 20.5333L8 12.5333L9.86667 10.6667L16 16.8L22.1333 10.6667L24 12.5333L16 20.5333Z' fill='black'/></svg>");
    background-repeat: no-repeat;
    background-position-x: 99%;
    background-position-y: 0.5rem;
    text-overflow: ellipsis;
    padding: 1rem;
    width: 100%;
    font: normal 2rem 'TT Commons Pro', sans-serif;
    text-indent: 2px;
    margin: 0px 0.8rem;
    border: solid 2px #FF9900;
    box-shadow: inset 1px 1px 5px #0000002a;
    cursor: pointer;
    margin-bottom:1rem;
    text-shadow: 1px 1px 2px #0000003a;
}
.botao-enviar{
    font: 2rem 'TT Commons Pro', sans-serif;
    color: white;
    padding: 10px 15px;
    border-radius: 50px;
    border: none;
    min-width:15rem;
    min-height: 5rem;
    box-shadow: 1px 1px 4px #00000077;
    background-color: #282828;
    cursor: pointer;
}
.botao-enviar:hover{
    background-color: #e68a00;
}